<style>
    .paginator {
        display: inline-block;
        min-width: 200px;
        margin: 20px 0 20px 40%;
    }

    .paginator * {
        display: inline-block;
    }

    .paginator li {
        min-width: 10px;
        height: 30px;
        background: #00897b;
        margin: 0 5px;
        border-radius: 5px;
        overflow: hidden;
    }

    .paginator li a {
        box-sizing: border-box;
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        padding: 5px;
        text-decoration: none;
    }

    .paginator li a.active {
        background: #01eddf;
    }
</style>
<div class="pagCont">
    {{ nav|raw }}
</div>


